<!DOCTYPE html>
<html>

	<% include ../partials/head %>

<body class="courses">

	<div class="toplink">
		<a href="/dashboard">Back to Dashboard</a>
	</div>

	<div class="box">

		<h2>New Course</h2>

		<hr>

		<form action="/courses" method="post">
			<label for="title">Course Title</label><br>
			<input type="text" name="title" placeholder="Course Title"/><br>
			<br>
			<label for="section">Section</label><br>
			<input type="number" name="section" min="1" value="1"/><br>
			<br>
			<label for="year">Year</label><br>
			<input type="number" name="year" min="2015" value="2015"/><br>
			<br>
			<label for="term">Term</label><br>
			<input type="number" name="term" min="1" value="1"/><br>
			<br>
			<label for="auto">Auto Weighting On?</label><br>
			<br>
			<select class="narrow" name="auto">
			  <option value="true" selected>Yes</option> 
			  <option value="false">No</option>
			</select>
			<br><br><br>
			<div class="hidden message" id="message-course-post"></div>
			<input type="submit" id="course-post" value="Create Course"/>
		</form>
	
	</div>

</body>
</html>