<!DOCTYPE html>
<html>

	<% include ../partials/head %>

<body>

	<div class="toplink">
		<a href="/dashboard">Back to Dashboard</a>
	</div>

	<div class="box">

		<h2>Enter New Assessment<h2>

		<% course.title = course.title.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();}); %>
		<h3>Course Title: <%= course.title %></h3>
		<h3>Section: <%= course.section %></h3>

		<hr>

		<form action="/assessments" method="post">
			<label for="name">Assessment Name</label><br>
			<input type="text" name="name" placeholder="Assessment Title"/><br>
			<br>
			<label for="type">Type</label><br><br>
			<select name="type">
			  <option value="Test" selected>Test</option> 
			  <option value="Quiz">Quiz</option>
			  <option value="Homework">Homework</option>
			  <option value="Project">Project</option>
			  <option value="Other">Other</option>
			</select>
			<br><br>
			<label for="points">Points</label><br>
			<input type="number" name="points" min="1" value="1"/><br>
			<% if (course.auto === "false") { %>
				<label for="weight">Weight</label><br>
				<input type="number" name="weight" min="1" value="1"/><br>
			<% } else { %>
				<h4>Auto Weighting is ON for this course.</h4>
			<% } %>
			<br>
			<input type="submit" value="Create Assessment"/>
		</form>

	</div>

</body>
</html>