<!DOCTYPE html>
<html>

	<% include ./partials/head %>

<body class="index">

	<div class="caption">
		<h1>Welcome to <font color="rgba(0,100,0,1)">GradeBook</font></h1>
	</div>

	<div class="box">

		<h2 class="modal-caption">Login</h2>

		<form class="modal-form" action="/login" method="post">
			<label for="email">E-mail</label><br>
			<input type="text" name="email" placeholder="Email address"/><br>
			<br>
			<label for="password">Password</label><br>
			<input type="password" name="password" placeholder="Password"/><br>
			<br>
			<div class="hidden message" id="message-login"></div>
			<input type="submit" class="modal-submit" id="login" value="Login"/>
		</form>
		
	</div>

	<h3>New to GradeBook? <a href="/users/new">Sign Up</a></h3>
	
</body>
</html>


		


