<!DOCTYPE html>
<html>

	<% include ./partials/head %>

<body id="index">

	<div class="caption">
		<h1>Welcome to GradeBook</h1>
	</div>

	<div class="box">

		<h2>Login</h2>

		<form action="/login" method="post">
			<label for="email">E-mail</label><br>
			<input type="text" name="email" placeholder="Email address"/><br>
			<br>
			<label for="password">Password</label><br>
			<input type="password" name="password" placeholder="Password"/><br>
			<br>
			<input type="submit" id="login" value="Login"/>
		</form>

		<div class="hidden message" id="message-login"></div>

	</div>

	<h3>New to GradeBook? <a href="/users/new">Sign Up</a></h3>
	
</body>
</html>


		


