<!DOCTYPE html>
<html>

<% include ./partials/head %>

<body>

	<div class="toplink">
		<br>
	</div>

	<div class="sorry box">

		<h2>You must login to view this page<h2>
		<h2><a href="/">Login</a></h2>

	</div>

</body>
</html>