body {
	font-family: 'Raleway', sans-serif;
	background-color: rgba(255,255,255,1);
	color: black;
	text-align: center;
}

body.dashboard {
	text-align: left;
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

.toplink {
	height: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.caption {
	margin-top: 60px;
	height: 40px;
	margin-bottom: 80px;
}

.box {
	width: 30%;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;	
	margin-bottom: 60px;
	padding: 10px;
	border: solid black 1px;
	background-color: rgba(100,135,100,0.5);
	color: black;
}

.sorry {
	min-height: 100px;
	margin-top: 100px;
	text-align: center;
	color: black;
	background-color: rgba(100,135,100,0.5);
}

.warning {
	margin: 0;
	float: left;
	width: 100%;
	height: 20px;
	line-height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 700;
	background-color: red;
	color: white;
	text-align: center;
	border: solid red 1px;
}

a {
	color: black;
	font-size: 18px;
}

form {
	font-size: 14px;
}

label {
	font-size: 14px;
	height: 20px;
	margin-bottom: 10px;
}

hr {
	height: 0;
}

input[type=text], input[type=password] {
	width: 80%;
	height: 25px;
	border: solid gray 1px;
	margin-top: 10px;
	margin-bottom: 15px;
	font-family: 'Courier';
}

input[type=number] {
	width: 60px;
	height: 25px;
	border: solid gray 1px;
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: right;
	font-family: 'Courier';
}

input[type=submit] {
	min-width: 80px;
	padding: 5px;
	height: 30px;
	background-color: rgba(255,255,255,0.9);
	color: black;
	font-weight: 700;
	margin-bottom: 20px;
	border-top: solid white 2px;
	border-left: solid white 2px;
	border-right: solid gray 2px;
	border-bottom: solid gray 2px;
}

input[type=submit].delete {
	background-color: rgba(255,50,50,1);
	color: white;
	margin-top: 10px;
}

select {
	width: 50%;
	height: 30px;
	border: solid black 1px;
	border-radius: 0;
	margin-top: 20px;
	margin-bottom: 15px;
}

.narrow {
	width: 20%;
}

#main-header {
	width: 100%;
	height: 70px;
	float: left;
	background-color: rgba(100,135,100,0.5);
	border-top: solid gray 2px;
	border-left: solid gray 2px;
	border-right: solid white 2px;
	border-bottom: solid white 2px;
	color: black;
}

#title {
	width: 20%;
	height: 70px;
	line-height: 25px;
	margin: 0;
	padding-left: 20px;
	float: left;
}

.top-button-box {
	width: 10%;
	height: 60px;
	margin-top: 10px;
	padding-top: 10px;
	text-align: center;
	float: left;
}

.top-selector {
	width: 10%;
	height: 50px;
	margin-top: 5px;
	float: left;
	text-align: center;
}

#logged {
	width: 28%;
	height: 70px;
	line-height: 30px;
	margin: 0;
	float: left;
	text-align: center;
}

#left-column {
	width: 48%;
	float: left;
	margin-top: 0;
	margin-left: 10px;
	margin-bottom: 20px;
}

#right-column {
	width: 48%;
	float: right;
	margin-top: 0;
	margin-right: 10px;
	margin-bottom: 20px;
}

.box-header {
	width: 100%;
	height: 35px;
	float: left;
	padding-top: 7px;
	margin-top: 0;
	margin-bottom: 0;
	background-color: rgba(100,135,100,0.5);
	color: black;
	border-top: solid gray 2px;
	border-left: solid gray 2px;
	border-right: solid white 2px;
	border-bottom: solid white 2px;
}

.caption-box {
	width: 25%;
	height: 30px;
	margin: 0;
	line-height: 30px;
	float: left;
	margin-left: 20px;
	font-size: 24px;
	font-weight: 700;
	text-align: left;
	color: black;
}

.button-box {
	width: 14%;
	height: 30px;
	line-height: 25px;
	float: left;
	margin: 0;
	text-align: center;
}

.data-box {
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	float: left;
	background-color: white;
	color: black;
	border-top: solid gray 2px;
	border-left: solid gray 2px;
	border-right: solid white 2px;
	border-bottom: solid white 2px;
	overflow-y: scroll;
	cursor: pointer;
}

.table-header {
	width: 98%;
	height: 25px;
	border-top: solid black 1px;
	border-bottom: solid black 1px;
	background-color: rgba(0,0,0,0.1);
	color: black;
	font-weight: 400;
}

.data-table {
	width: 98%;
}

.data-row {
	width: 100%;
	height: 25px;
	color: black;
	font-family: 'Courier';
	background-color: rgba(0,0,0,0.05);
	border-top: solid white 1px;
	border-bottom: solid white 1px;
}

.highlighted {
	background-color: rgba(0,0,0,0.3);
}

.selected {
	color: white;
	background-color: rgba(0,0,0,0.6);
}

#courses-box {
	height: 200px;
	background-color: rgba(173,216,230,1);
}

#assessments-box {
	height: 245px;
	background-color: rgba(144,238,144,1);
}

#students-box {
	height: 410px;
	background-color: rgba(255,255,224,1);
}

#update-box {
	width: 60%;
	height: 97px;
	float: left;
	margin-top: 10px;
	padding: 2px 10px;
	border-top: solid gray 2px;
	border-left: solid gray 2px;
	border-right: solid white 2px;
	border-bottom: solid white 2px;
	background-color: rgba(100,135,100,0.5);
}

.update-label {
	width: 24%;
	height: 31px;
	line-height: 31px;
	float: left;
	font-size: 16px;
	font-weight: 700;
}

.update-field {
	width: 73%;
	height: 31px;
	line-height: 31px;
	float: left;
	font-family: 'Courier';
}

#grade-box {
	width: 30%;
	height: 96px;
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	padding: 2px 10px;
	border-top: solid gray 2px;
	border-left: solid gray 2px;
	border-right: solid white 2px;
	border-bottom: solid white 2px;
	background-color: rgba(100,135,100,0.5);
}

.grade-label {
	width: 35%;
	height: 46px;
	line-height: 48px;
	float: left;
	font-size: 16px;
	font-weight: 700;
}

.grade-field {
	width: 62%;
	height: 46px;
	line-height: 48px;
	float: left;
}

#current-course {
	background-color: rgba(173,216,230,1);
}

#current-assessment {
	background-color: rgba(144,238,144,1);
}

#current-student {
	background-color: rgba(255,255,224,1);
}

input.current {
	width: 100%;
	height: 25px;
	margin: 0;
	font-size: 14px;	
	font-weight: 700;
}

input.grade {
	width: 100%;
	height: 35px;
	margin-top: 5px;
	font-family: 'Courier';
	font-size: 32px;	
	font-weight: 900;
	text-align: right;
	border: solid black 1px;
}

#points {
	background-color: rgba(255,255,255,0.5);
}

.green {
	background-color: green;
	color: white;
}

.red {
	background-color: red;
	color: white;
}

.checkbox-list {
	width: 60%;
	float: left;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 20px;
	padding: 5px;
	background-color: rgba(255,255,255,0.5);
	text-align: left;
}

input[type=checkbox] {
	height: 20px;
	line-height: 20px;
} 

.right {
	text-align: right;
}



